.lista-comidas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  background-color: white;
  width: 160px;
  height: 180px; /* más cuadrado */
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin: 0;
  font-size: 1rem;
  margin-top: 0.5rem;
}
